<div class="container">
	<div class="hero-unit">
	  <h1>Swole Tracker</h1>
	  <p>Swole Tracker is an easy way to track your progress on your journey to becoming swole. 
	  	Log your workouts and health statistics so you can look back and see just how thick, solid, and tight you have become.
	  </p>
	  <div>
	  	<%= link_to 'Get Started', signup_url, :class => "btn btn-primary" %>
	  </div>
	  <p></p>
	  <br />
	  <p>"Everybody wants to be a bodybuilder but nobody wants to track no heavy weights."</p>
	</div>
</div>